@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --body-bg: #111111;
  --text-color: #ffffff;
  --gradient-1: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);

  --tablet: 992px;
  --mobile: 576px;
}


* {
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--body-bg);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
}

.text-gradient {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

h1,
h2 {
  font-size: 3.375rem;
}

@media (max-width: 992px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {

  h1,
  h2 {
    font-size: 1.6875rem;
  }
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

/* Hero - Section */
#hero-section {
  background: url('./../images/bg_section-hero.jpg') no-repeat center center;
  background-size: cover;
}

#hero-section .title .desc {
  transform: translate(-100px, -10px);
}

#hero-section .year {
  font-size: 1.6875rem;
}

#hero-section .greeting {
  font-size: 0.75rem;
}

#hero-section .details {
  max-width: 24ch;
  font-size: 0.875rem;
}

#hero-section .section-list {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;
  padding: 4rem 0;
}

#hero-section .section-list .row {
  --bs-gutter-x: 5.5rem;
}

#hero-section .section-list .section-list_item {
  padding: 0 0 1.5rem 0;
  border-bottom: 2px solid white;
}

/*  End Hero - Section */

/* About Us - Section */
#about_us-section .card-item {
  min-height: 18.5rem;
}

#about_us-section .card-item img {
  z-index: -1;
}

#about_us-section .card-item_content h3 {
  font-size: 2.5rem;
}

#about_us-section .card-item_content p {
  font-size: 0.875rem;
  max-width: 30ch;
  color: #E4E4E4;
}