@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --body-bg: #111111;
  --text-color: #E4E4E4;
  --gradient-1: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);

  --border: 2px solid white;
  --inter: 'Inter', sans-serif;
  --unbounded: 'Unbounded', sans-seri
}


* {
  font-family: var(--unbounded);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--body-bg);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
}

.textGradient,
.wavyGradient {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.wavyGradient {
  position: absolute;
  letter-spacing: -10px;
}

@media (max-width: 992px) {
  .wavyGradient {
    letter-spacing: -5px;
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .wavyGradient {
    letter-spacing: -5px;
    font-size: 1.6875rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

h1,
h2 {
  font-size: 3.375rem;
}

p {
  font-size: 0.875rem;
  font-family: var(--inter);
  font-weight: normal;
}

.textExtraSmall {
  font-size: 0.75rem;
}

@media (max-width: 992px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {

  h1,
  h2 {
    font-size: 1.6875rem;
  }
}

.-z-1 {
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}

.pt-4_5 {
  padding-top: 2.25rem;
}

.mt-4_5 {
  margin-top: 2.25rem;
}

/* Hero - Section */
#sectionHero {
  background: url('./../images/bg_section-hero.jpg') no-repeat center center;
  background-size: cover;
  background-position: right;
  min-height: 55rem;
}

#sectionHero .wavyGradient.your {
  right: 0;
  top: -1rem;
}

#sectionHero .title .desc {
  transform: translate(-100px, -10px);
  font-size: 1rem;
  color: white;
  font-family: var(--unbounded);
}

#sectionHero .year {
  font-size: 1.6875rem;
  font-family: var(--unbounded);
  font-weight: 300;
}

#sectionHero .greeting {
  font-size: 0.75rem;
}

#sectionHero .details {
  max-width: 24ch;
}

#sectionHero .sectionList {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;
  padding: 4rem 0;

}

#sectionHero .sectionList .row {
  --bs-gutter-x: 5.5rem;
}

#sectionHero .sectionList .sectionListItem {
  border-bottom: var(--border);
  font-family: var(--unbounded) !important;
}

@media (max-width: 768px) {
  #sectionHero {
    min-height: 54rem;
  }

  #sectionHero .sectionList .row {
    --bs-gutter-x: 1rem;
  }

  #sectionHero .title .desc {
    margin-top: 0.5rem;
    transform: translate(0, 0);
    width: 100%;
    font-size: 0.75rem;
  }

  #sectionHero .sectionList {
    padding: 2.5rem 0;
    margin-top: 3rem;
  }

  #sectionHero .year {
    font-size: 2rem;
  }
}


/*  End Hero - Section */

/* About Us - Section */
#sectionAboutUs {
  margin-top: 6rem;
}

#sectionAboutUs h2 {
  max-width: 14ch;
}

#sectionAboutUs .details,
#sectionAboutUs .cards {
  margin-bottom: 8rem;
}

#sectionAboutUs .wavyGradient {
  bottom: -3.5rem;
}

#sectionAboutUs .sphere {
  background: #202020;
}

#sectionAboutUs .cardItem {
  min-height: 18.5rem;
}

#sectionAboutUs .cardItem img {
  z-index: -1;
}

#sectionAboutUs .cardItemContent h3 {
  font-size: 2.5rem;
}

#sectionAboutUs .cardItemContent p {
  max-width: 30ch;
}

@media (max-width: 992px) {
  #sectionAboutUs .wavyGradient {
    bottom: -2.5rem;
  }
}

@media (max-width: 768px) {
  #sectionAboutUs {
    margin-top: 4rem;
  }

  #sectionAboutUs .details,
  #sectionAboutUs .cards {
    margin-bottom: 4rem;
  }

  #sectionAboutUs .wavyGradient {
    bottom: -2rem;
  }
}

/* End About Us - Section */

/* Expertise - Section */
#sectionExpertise {
  margin-bottom: 7rem;
}

#sectionExpertise h2 {
  max-width: 18ch;
}

#sectionExpertise .wavyGradient.achive {
  right: 9.5rem;
  top: -1rem;
}

#sectionExpertise .wavyGradient.objectives {
  left: 0;
  bottom: -2.25rem;
}



#sectionExpertise p {
  font-family: var(--inter);
}

#sectionExpertise .nav-tabs .nav-item {
  border: var(--border);
  font-size: 1.875rem;
}

@media (max-width: 992px) {
  #sectionExpertise .wavyGradient.achive {
    right: 7rem;
    top: -1rem;
  }

  #sectionExpertise .nav-tabs .nav-item {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  #sectionExpertise .wavyGradient.achive {
    right: 4.75rem;
    top: -1rem;
  }

  #sectionExpertise {
    margin-bottom: 5rem;
  }
}

@media (max-width: 576px) {
  #sectionExpertise .nav-tabs .nav-item {
    font-size: 1rem;
  }
}

#sectionExpertise .nav-tabs .nav-item:not(:has(.active)) div {
  opacity: 0.5;
}

#sectionExpertise .tab-content {
  border-top: none;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

/* End Expertise - Section */

/* Get Started - Section */
#sectionGetStarted .wavyGradient.experience {
  bottom: -2rem;
}

#sectionGetStarted .desc {
  max-width: 28ch;
}

#sectionGetStarted .wavyGradient.and {
  left: 19.25rem;
  top: -1rem;
}

#sectionGetStarted .bgPanel {
  background-image: url("./../images/bg_section-get-started.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  height: max-content;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#sectionGetStarted .plainPanel {
  margin: 6rem 0;
}

#sectionGetStarted .details {
  margin-top: 16rem;
}

@media (max-width: 992px) {
  #sectionGetStarted .wavyGradient.and {
    left: 14.25rem;
    top: -1rem;
  }
}

@media (max-width: 768px) {
  #sectionGetStarted .details {
    margin-top: 3rem;
  }

  #sectionGetStarted .bgPanel {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  #sectionGetStarted .plainPanel {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
}

/* End Get Started - Section */

/* What We Do - Section */
#sectionWhatWeDo .wavyGradient {
  top: -1rem;
  left: 23.5rem;
}


#sectionWhatWeDo .desc {
  max-width: 36ch;
  height: 3.5rem;
}

@media (max-width: 992px) {
  #sectionWhatWeDo .wavyGradient {
    left: 0;
  }
}

@media (max-width: 768px) {
  #sectionWhatWeDo .desc {
    height: 4.75rem;
  }
}

#sectionWhatWeDo .carousel-control {
  width: calc(3.7rem * 2);
  height: calc(3.7rem);
}

#sectionWhatWeDo .carousel-control-prev,
#sectionWhatWeDo .carousel-control-next {
  border: var(--border);
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

#sectionWhatWeDo .carousel-indicators {
  bottom: -4rem;
}

#sectionWhatWeDo .carousel-indicators button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 1;
  background-color: var(--text-color)
}

#sectionWhatWeDo .carousel-indicators button.active {
  background-color: #B877FF;
}

/* End What We Do - Section */

/* Navbar */
header,
footer {
  padding: 3rem 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

body:has(header .navbar-toggler[aria-expanded="true"]),
body:has(footer .navbar-toggler[aria-expanded="true"]) {
  overflow: hidden;
}

header:has(.navbar-toggler[aria-expanded="true"]),
footer:has(.navbar-toggler[aria-expanded="true"]) {
  background-color: var(--body-bg);
  position: fixed !important;
}

header .navbar,
footer .navbar {
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0;
}

header .navbar-brand,
footer .navbar-brand {
  border-top: var(--border);
  border-right: var(--border);
}

@media (max-width: 768px) {
  header .navbar-brand {
    border-top: none;
  }

  header .navbar {
    border-top: var(--border);
    border-right: var(--border);
  }

  footer .navbar-brand {
    border-bottom: var(--border);
    border-top: none;
  }

  footer .navbar {
    border-top: var(--border);
  }

  footer .navbar-toggler.menu {
    border-right: var(--border) !important;
    text-align: center;
  }

  footer .action {
    border-right: var(--border);
  }
}

header .navbar-brand .title,
footer .navbar-brand .title {
  font-size: 1rem;
}

header .navbar-brand .slogan,
footer .navbar-brand .slogan {
  font-size: 0.625rem;
  line-height: 1.2;
}

header .nav-item,
footer .nav-item {
  border-right: var(--border);
  border-top: var(--border);
  flex: 1;
  text-transform: uppercase;
  white-space: nowrap;
}

header .nav-link,
footer .nav-link {
  font-weight: 500;
  font-family: var(--inter);
  font-size: 0.75rem;
}

header .navbar-toggler,
footer .navbar-toggler {
  font-family: var(--inter);
  color: white !important;
}

header .navbar-toggler:focus,
footer .navbar-toggler:focus  {
  box-shadow: none !important;
}

.footer {
  margin-top: 6rem;
  padding-bottom: 12rem;
}

/* End Navbar */