@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --body-bg: #111111;
  --text-color: #E4E4E4;
  --gradient-1: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);

  --border: 2px solid white;
  --inter: 'Inter', sans-serif;
  --unbounded: 'Unbounded', sans-seri
}


* {
  font-family: var(--unbounded);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--body-bg);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
}

.text-gradient,
.wavy-gradient {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.wavy-gradient {
  position: absolute;
  letter-spacing: -10px;
}

@media (max-width: 992px) {
  .wavy-gradient {
    letter-spacing: -5px;
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .wavy-gradient {
    letter-spacing: -5px;
    font-size: 1.6875rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

h1,
h2 {
  font-size: 3.375rem;
}

p {
  font-size: 0.875rem;
  font-family: var(--inter);
  font-weight: normal;
}

.text-extra-small {
  font-size: 0.75rem;
}

@media (max-width: 992px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {

  h1,
  h2 {
    font-size: 1.6875rem;
  }
}

.-z-1 {
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}

.pt-4_5 {
  padding-top: 2.25rem;
}

.mt-4_5 {
  margin-top: 2.25rem;
}

/* Hero - Section */
#hero-section {
  background: url('./../images/bg_section-hero.jpg') no-repeat center center;
  background-size: cover;
  background-position: right;
  min-height: 55rem;
}

#hero-section .wavy-gradient.your {
  right: 0;
  top: -1rem;
}

#hero-section .title .desc {
  transform: translate(-100px, -10px);
  font-size: 1rem;
  color: white;
  font-family: var(--unbounded);
}

#hero-section .year {
  font-size: 1.6875rem;
  font-family: var(--unbounded);
  font-weight: 300;
}

#hero-section .greeting {
  font-size: 0.75rem;
}

#hero-section .details {
  max-width: 24ch;
}

#hero-section .section-list {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;
  padding: 4rem 0;

}

#hero-section .section-list .row {
  --bs-gutter-x: 5.5rem;
}

#hero-section .section-list .section-list_item {
  border-bottom: var(--border);
  font-family: var(--unbounded) !important;
}

@media (max-width: 768px) {
  #hero-section {
    min-height: 54rem;
  }

  #hero-section .section-list .row {
    --bs-gutter-x: 1rem;
  }

  #hero-section .title .desc {
    margin-top: 0.5rem;
    transform: translate(0, 0);
    width: 100%;
    font-size: 0.75rem;
  }

  #hero-section .section-list {
    padding: 2.5rem 0;
    margin-top: 3rem;
  }

  #hero-section .year {
    font-size: 2rem;
  }
}


/*  End Hero - Section */

/* About Us - Section */
#about_us-section {
  margin-top: 6rem;
}

#about_us-section h2 {
  max-width: 14ch;
}

#about_us-section .details,
#about_us-section .cards {
  margin-bottom: 8rem;
}

#about_us-section .wavy-gradient {
  bottom: -3.5rem;
}

#about_us-section .sphere {
  background: #202020;
}

#about_us-section .card-item {
  min-height: 18.5rem;
}

#about_us-section .card-item img {
  z-index: -1;
}

#about_us-section .card-item_content h3 {
  font-size: 2.5rem;
}

#about_us-section .card-item_content p {
  max-width: 30ch;
}

@media (max-width: 992px) {
  #about_us-section .wavy-gradient {
    bottom: -2.5rem;
  }
}

@media (max-width: 768px) {
  #about_us-section {
    margin-top: 4rem;
  }

  #about_us-section .details,
  #about_us-section .cards {
    margin-bottom: 4rem;
  }

  #about_us-section .wavy-gradient {
    bottom: -2rem;
  }
}

/* End About Us - Section */

/* Expertise - Section */
#expertise-section {
  margin-bottom: 7rem;
}

#expertise-section h2 {
  max-width: 18ch;
}

#expertise-section .wavy-gradient.achive {
  right: 9.5rem;
  top: -1rem;
}

#expertise-section .wavy-gradient.objectives {
  left: 0;
  bottom: -2.25rem;
}



#expertise-section p {
  font-family: var(--inter);
}

#expertise-section .nav-tabs .nav-item {
  border: var(--border);
  font-size: 1.875rem;
}

@media (max-width: 992px) {
  #expertise-section .wavy-gradient.achive {
    right: 7rem;
    top: -1rem;
  }

  #expertise-section .nav-tabs .nav-item {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  #expertise-section .wavy-gradient.achive {
    right: 4.75rem;
    top: -1rem;
  }

  #expertise-section {
    margin-bottom: 5rem;
  }
}

@media (max-width: 576px) {
  #expertise-section .nav-tabs .nav-item {
    font-size: 1rem;
  }
}

#expertise-section .nav-tabs .nav-item:not(:has(.active)) div {
  opacity: 0.5;
}

#expertise-section .tab-content {
  border-top: none;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

/* End Expertise - Section */

/* Get Started - Section */
#get_started-section .wavy-gradient.experience {
  bottom: -2rem;
}

#get_started-section .desc {
  max-width: 28ch;
}

#get_started-section .wavy-gradient.and {
  left: 19.25rem;
  top: -1rem;
}

#get_started-section .bg-panel {
  background-image: url("./../images/bg_section-get-started.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  height: max-content;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#get_started-section .plain-panel {
  margin: 6rem 0;
}

#get_started-section .details {
  margin-top: 16rem;
}

@media (max-width: 992px) {
  #get_started-section .wavy-gradient.and {
    left: 14.25rem;
    top: -1rem;
  }
}

@media (max-width: 768px) {
  #get_started-section .details {
    margin-top: 3rem;
  }

  #get_started-section .bg-panel {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  #get_started-section .plain-panel {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
}

/* End Get Started - Section */

/* What We Do - Section */
#what_we_do-section .wavy-gradient {
  top: -1rem;
  left: 23.5rem;
}


#what_we_do-section .desc {
  max-width: 36ch;
  height: 3.5rem;
}

@media (max-width: 992px) {
  #what_we_do-section .wavy-gradient {
    left: 0;
  }
}

@media (max-width: 768px) {
  #what_we_do-section .desc {
    height: 4.75rem;
  }
}

#what_we_do-section .carousel-control {
  width: calc(3.7rem * 2);
  height: calc(3.7rem);
}

#what_we_do-section .carousel-control-prev,
#what_we_do-section .carousel-control-next {
  border: var(--border);
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

#what_we_do-section .carousel-indicators {
  bottom: -4rem;
}

#what_we_do-section .carousel-indicators button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 1;
  background-color: var(--text-color)
}

#what_we_do-section .carousel-indicators button.active {
  background-color: #B877FF;
}

/* End What We Do - Section */

/* Header - Navbar */
header {
  padding: 3rem 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

header:has(.navbar-toggler[aria-expanded="true"]) {
  background-color: var(--body-bg);
}

header .navbar {
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0;
}

header .navbar-brand {
  border-top: var(--border);
  border-right: var(--border);
}

@media (max-width: 768px) {
  header .navbar-brand {
    border-top: none;
  }

  header .navbar {
    border-top: var(--border);
    border-right: var(--border);
  }
}

header .navbar-brand .title {
  font-size: 1rem;
}

header .navbar-brand .slogan {
  font-size: 0.625rem;
  line-height: 1.2;
}

header .nav-item {
  border-right: var(--border);
  border-top: var(--border);
  flex: 1;
  text-transform: uppercase;
  white-space: nowrap;
  ;
}

header .nav-link {
  font-weight: 500;
  font-family: var(--inter);
  font-size: 0.75rem;
}

header .navbar-toggler {
  font-family: var(--inter);
  color: white !important;
}

header .navbar-toggler:focus {
  box-shadow: none !important;
}